.site-footer {
  &__top {
    background: #495567;
    background-image: url("../../images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  &__box {
    padding: 102px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__heading {
    max-width: 415px;
    width: 100%;
  }
  &__text {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #ffffff;
  }

  &__decs {
    max-width: 359px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__apple {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 159px;
    width: 100%;
    background-color: #fff;
    margin-right: 18px;
    padding: 9px 16px;
  }

  &__content {
    margin-left: 12px;
    max-width: 91px;
    width: 100%;
  }

  &__small {
    margin: 0;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.446429px;
    color: #495567;
  }

  &__subtitle {
    margin: 0;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.892857px;
    color: #495567;
  }

  &__market {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 159px;
    width: 100%;
    background-color: #fff;
    padding: 9px 16px;
  }

  &__content-market {
    margin-left: 12px;
    max-width: 115px;
    width: 100%;
  }

  &__inner {
    padding: 36px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom {
    background: #333a44;
  }

  &__nav {
    margin-right: auto;
    margin-left: 58.58px;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
  }

  &__item {
    margin: 0;
    padding: 0;
  }
  &__item + &__item {
    margin-left: 32px;
  }

  &__link {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
    text-decoration: none;

    &:hover {
      color: $yellow;
    }
  }
  &__social-link{
    &:hover{
      fill: #fff;
    }
  }
  &__social-link + &__social-link {
    margin-left: 24px;
  }
}
