.site-header {
  padding: 36px 0;

  &__burger {
    display: none;

    @media only screen and(max-width: 700px) {
      display: inline-block;
    }
  }

  &__logo {
    margin-right: 58px;

    @media only screen and(max-width: 700px) {
      margin: 0 auto;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper {
    max-width: 940px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and(max-width: 700px) {
      display: none;
    }
  }

  &__nav {
    justify-content: space-between;
    margin-right: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
  }

  &__item {
    margin: 0;
    padding: 0;
  }

  &__item + &__item {
    margin-left: 32px;
  }

  &__link {
    text-decoration: none;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: $DimGrey;
    transition: all 0.4s ease;

    &:hover {
      color: $yellow;
    }
  }

  &__btn {
    padding: 14px 39px;
  }
}
.main-btn {
  display: inline-block;
  background: $yellow;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  border: 3px solid transparent;
  transition: all 0.4s ease;

  &:hover {
    background-color: #fff;
    color: $yellow;
    border: 3px solid $yellow;
  }
}
